@page "/currencies"
@using Microsoft.EntityFrameworkCore
@using MyMoney.Models
@using MyMoney.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MyMoney.Data.MyMoneyContext> DbFactory

<PageTitle>Currencies</PageTitle>

<h1 class="pt-3">Currencies</h1>

<MudDataGrid Items="context.Currency" Dense="true" Hover="true" Bordered="true" Style="--mud-palette-surface: transparent">
    <ToolBarContent>
        <MudSpacer />
        <MudIconButton Variant="Variant.Filled" style="float: right" href="currencies/create" Color="Color.Success" Icon="@Icons.Material.Filled.Add"></MudIconButton>
    </ToolBarContent>
    <Columns>
    <PropertyColumn Property="currency => currency.Name" />
    <PropertyColumn Property="currency => currency.Code" />
    <PropertyColumn Property="currency => currency.Symbol" />
    <PropertyColumn Property="currency => currency.PluralName" />
        <TemplateColumn>
            <CellTemplate>
                <MudIconButton Href="@($"currencies/edit?id={context.Item.Id}")" Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
                <MudIconButton Href="@($"currencies/details?id={context.Item.Id}")" Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.Pages"></MudIconButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {
    private MyMoneyContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
